.card {
    transition: translate ease-in-out 100ms, nbox-shadow
    ease-in-out 100ms;
}

.card:hover,
.card:focus {
    /* lifts card up */
    translate: 0 -5px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .2);
}